services:
  app:
    build: .
    command: bash -c "bundle exec rake importer:shopping && bundle exec puma -C config/puma.rb"
    volumes:
      - .:/app
    ports:
      - "3000:3000"
    depends_on:
      - mongodb
    env_file:
      - .env
    environment:
      MONGODB_HOST: mongodb
      MONGODB_PORT: 27017
      
  mongodb:
    image: mongo:4.4
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  
  mongo_data: