services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/rails
    environment:
      - MONGO_HOST=mongodb
      - RAILS_ENV=development
      - SERPAPI_API_KEY=${SERPAPI_API_KEY}
    depends_on:
      - mongodb
    entrypoint: /rails/docker-entrypoint.sh
    command: ["rails", "server", "-b", "0.0.0.0"]

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: