services:
  app:
    build: .
    ports:
      - "3000:3000"
    volumes:
      - .:/rails
    environment:
      - MONGO_HOST=mongodb
      - RAILS_ENV=development
      - SERPAPI_API_KEY=${SERPAPI_API_KEY}
    depends_on:
      mongodb:
        condition: service_healthy
    entrypoint: ["/rails/docker-entrypoint.sh"]
    command: ["rails", "server", "-b", "0.0.0.0"]

  mongodb:
    image: mongo:latest
    ports:
      - "27017:27017"
    volumes:
      - mongo_data:/data/db
    healthcheck:
      test: ["CMD-SHELL", "mongosh", "--eval", "quit(db.runCommand({ping: 1}).ok ? 0 : 1)"]
      interval: 5s
      timeout: 2s
      retries: 20

volumes:
  mongo_data: